/*Seção de codigo Samir*/
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Estilização do layout padrão*/
#principal {
    font-family: 'Dongle', Helvetica, sans-serif;
    background-image: url(../img/pagina-detalhes/Layout.png);
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100vw;
    min-height: 100%;
    position:relative;

}

.area-util {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: column;
    margin: 0%;
    height: 50%;
}

.logo__imagem {
    align-self: center;
    height: 100%;
}

.logo__texto {
    height: 10%;
    text-align: center;
    color: white;
    font-family: 'Dongle', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 10vw;
    line-height: 30px;
    -webkit-text-stroke: 1px #FF7272;
}

.logo__texto--da {
    font-size: 3vh;
}

.menu-nav {
    display: flex;
    justify-content: space-around;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 5%;
    width: 100%;
    overflow: visible;
}

.menu-nav__botao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FF7272;
    width: 33.33%;
    transition: all 0.2s;
}

.menu-nav__tamanho-img {
    height:5px;
}

.menu-nav__botao:active {
    background-color: #FFD0D0;
}

.menu-principal {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.menu-principal__img {

}

.menu-principal__itens {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__rapido {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.menu-rapido__opcao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #ff7272;
    color: white;
    font-weight: 700;
    width: 25%;
    height: 5vh;
    font-size: 2vh;
    transition: all .2s;
}

.menu-rapido__opcao:active {
    background-color: #FFD0D0;
}

.menu_superiores {
    height: 40%;
}

.tamanho__header {
    height: 25%;
}

.tamanho__main {
    height: 65%;
}

/*Fim estilização do layout padrão

/*Estilização da página*/
.bandeja-produto {
    width: 45%;
    height: 30%;
    border-radius: 20px;
    background-color: rgba(255, 112, 112, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bandeja-produto__organizacao {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
}

.imagem__principal {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.info-produto__tamanho {
    display: flex;
    flex-direction: column;
}

.info-produto__preco--texto {
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    font-weight: bolder;
    color: #FF7272;
}

.info-produto__tamanho--texto {
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    line-height: 25px;
    font-weight: bolder;
    color: #FF7272;
}

.foto__principal {
    height: 100%;
    width: 50%;
    border-radius: 15px;
}

.foto__produto {
    width: 70%;
    height: 80%;
    border-radius: 10px;
}

.produtos__vitrine {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
}

/*Fim da estilização da página*/

/*Fim da seção Samir*/

/*Seção de codigo Eduardo*/

.blusa__inteira{ 
    width: 60%;
    height: 50%;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    align-items: center;
}

.blusa__manga{
    

}

.retangulo{
    position: absolute;
    
    width: 384px;
    height: 545px;
    left: 23px;
    top: 227px;
      

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(255, 114, 114, 0.05);
    box-shadow: 0px 4px 4px rgba(255, 114, 114, 0.05);
    backdrop-filter: blur(1.5px);
    border-radius: 30px;

}




/*Fim da seção Eduardo*/

/*Seção de codigo Tailine*/

/*Fim da seção Tailine*/

/*Seção de codigo Thiago*/

/*Fim da seção Thiago*/

/*Seção de codigo Rafael*/

.header__menu-topo
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
    width: 381.63px;
    height: 56px;   
}

.header__sandwich
{
    width: 56px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.header__botao_s
{
    visibility: hidden;
}

.header__busca
{
    width: 69px;
    height: 45px;
    border-radius: 30px;
    border: 2px solid #FF7272;
   
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__botao_b
{
    visibility: hidden;
}

.header__carrinho
{
    width: 48.63px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.header__botao_c
{
    visibility: hidden;
}

.header__wishlist
{
    width: 46px;
    height: 43px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.header__botao_w
{
    visibility: hidden;
}



.header__image_1
{
    visibility: visible;
    width: 56px;
    height: 56px;
}
.header__image_2
{
    visibility: visible;
    width: 22.61px;
    height: 28.05px;
}
.header__image_3
{
    visibility: visible;
    width: 48.63px;
    height: 42px;
}
.header__image_4
{
    visibility: visible;
    width: 46px;
    height: 43px;
}


/*Fim da seção Rafael*/