/*Seção de codigo Samir*/
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Estilização do layout padrão*/
#principal {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/pagina-detalhes/Layout.png);
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
}

.area-util {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retangulo {
    background-color: aquamarine;
    height: 70px;
    width: 80px;
}

.tamanho__header {
    height: 24%;
}

.tamanho__main {
    height: 70%;
}

.logo__posicao {
    display: flex;
    flex-direction: column;
    margin: 0%;
}

.logo__imagem {
    align-self: center;
    width: 10vh;
}

.logo__texto {
    text-align: center;
    color: white;
    font-family: 'Dongle', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 10vw;
    line-height: 30px;
    -webkit-text-stroke: 1px #FF7272;
}

.logo__texto--da {
    font-size: 12px;
}

.menu-nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0%;
    height: 5%;
    width: 100%;
}

.menu-nav__botao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FF7272;
    width: 33.33%;
    transition: all 0.2s;
}

.menu-nav__botao:active {
    background-color: #FFD0D0;
}

.menu-nav__tamanho-img {
    height: 80%;
}

.menu-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-principal__tamanho-img {
    width: 5vh;
}

.menu__rapido {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-rapido__opcao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #FF7272;
    color: white;
    font-weight: 700;
    width: 25%;
    height: 5vh;
    font-size: 2vh;
    transition: all .2s;
}

.menu-rapido__opcao:active {
    background-color: #FFD0D0;
}

/*Fim estilização do layout padrão

/*Estilização do carrossel de imagens*/
.carrossel-imagens {
    width: 73vw;
    height: 25vh;
    overflow: hidden;
}

.carrossel-imagens .carrossel-imagens__grupo {
    width: 300%;
    background-color: aquamarine;
}

.carrossel-imagens__img {}

/*Fim da estilização do carrossel de imagens*/

/*Fim da seção Samir*/

/*Seção de codigo Eduardo*/

.area__retangulo{ 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 97%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(255, 112, 112, 0.20) ;
    box-shadow: 0px 4px 4px rgba(189, 255, 114,);
    backdrop-filter: blur(1.5px);
    border-radius: 30px;
}

.descricao{
    display: flex;
    height: 20%;
    padding: 8%;
    font-family: 'Comfortaa';
    text-align: justify;
    font-size:150%;
    color: #ff1617;
    font-weight: bold;  
}

.favoritos{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    justify-items: center;
    margin-top: 1%;
    height: 10%;
    width: 100%;
}

.imagem__destaque{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 35%;
    width: 100%;
}

.preco-tamanho{
    display: flex;
    font-family: 'Comfortaa';
    justify-content: space-evenly;
    height: 40%;
}

.tamanho__coracao{
    height: 60%;
    align-self: center; 
}

.tamanho__img{
    display: flex;
    justify-content: right;
    height: initial; 
}

.tamanho__img-principal{
    width: 70%;
    height: 80%;
}

.tamanho__peca{
    font-family: 'Comfortaa'; 
    justify-items: left;
    color: #ff1617;
    font-size:150%;
    font-weight: bold;
}

.tamanho__preco{
    font-family: 'Comfortaa'; 
    color: #ff1617;
    font-size: 150%;
    justify-items: right;
    font-weight: bold;
}

/*Fim da seção Eduardo*/



